<iframe src="https://www.youtube.com/embed/ypEaGQb6dJk?autoplay=1&mute=1&controls=0&loop=1" frameBorder="0" class="w-full h-full absolute"></iframe>

<div class="h-screen bg-white">
    <div class="pt-[15%] px-24 absolute text-white bg-gradient-to-r from-black h-full">
        <h1 class="text-6xl font-bold">
            2001: A Space Odyssey
        </h1>
        <p class="inline-block py-6 text-xl w-1/4 flex-wrap">
            Jump forward 1000s of years, and an American expedition finds a mysterious black monolith--an obvious alien artifact--on the Moon. 
        </p>
    <div>
        <button class="bg-white text-black py-4 px-12 rounded-lg text-xl hover:bg-opacity-70 transition-[1s]" > 
            ▶ Play 
        </button>
        &nbsp;
        <button class="bg-gray-500 text-white px-12 py-4 text-xl bg-opacity-50 rounded-lg hover:bg-opacity-70 transition-[1s]">More info</button>
        </div>
    </div>
</div>